'.source.nsis':
  '!ifmacrondef…else':
    'prefix': 'ifmacrondefelse'
    'body': """
      !ifmacrondef ${1:gflag}
        ${2:# your code here}
      !else
        ${3:# your code here}
      !endif
    """