'.source.nsis':
  '!if…else':
    'prefix': 'ifelse'
    'body': """
      !if ${1:value1} ${2:op} ${3:value2}
        ${4:# your code here}
      !else
        ${5:# your code here}
      !endif
    """