".source.nsis":
  "${NSISDIR}":
    body: "${NSISDIR}$1"
    description: "A symbol that contains the path where NSIS is installed"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/NSISDIR.md"
    leftLabelHTML: "{}"
    prefix: "NSISDIR"
  $ADMINTOOLS:
    body: "$ADMINTOOLS$1"
    description: "A directory where administrative tools are kept"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/ADMINTOOLS.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "ADMINTOOLS"
  $APPDATA:
    body: "$APPDATA$1"
    description: "The application data directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/APPDATA.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "APPDATA"
  $CDBURN_AREA:
    body: "$CDBURN_AREA$1"
    description: "A directory where files awaiting to be burned to CD are stored"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/CDBURN_AREA.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "CDBURN_AREA"
  $CMDLINE:
    body: "$CMDLINE$1"
    description: "The command line of the installer"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/CMDLINE.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "CMDLINE"
  $COMMONFILES:
    body: "$COMMONFILES$1"
    description: "The common files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/COMMONFILES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "COMMONFILES"
  $COMMONFILES32:
    body: "$COMMONFILES32$1"
    description: "The common files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/COMMONFILES32.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "COMMONFILES32"
  $COMMONFILES64:
    body: "$COMMONFILES64$1"
    description: "The common files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/COMMONFILES64.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "COMMONFILES64"
  $COOKIES:
    body: "$COOKIES$1"
    description: "Internet Explorer's cookies directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/COOKIES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "COOKIES"
  $DESKTOP:
    body: "$DESKTOP$1"
    description: "The Windows desktop directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/DESKTOP.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "DESKTOP"
  $DOCUMENTS:
    body: "$DOCUMENTS$1"
    description: "The documents directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/DOCUMENTS.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "DOCUMENTS"
  $EXEDIR:
    body: "$EXEDIR$1"
    description: "The directory containing the installer executable"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/EXEDIR.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "EXEDIR"
  $EXEFILE:
    body: "$EXEFILE$1"
    description: "The base name of the installer executable"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/EXEFILE.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "EXEFILE"
  $EXEPATH:
    body: "$EXEPATH$1"
    description: "The full path of the installer executable"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/EXEPATH.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "EXEPATH"
  $FAVORITES:
    body: "$FAVORITES$1"
    description: "The directory that contains shortcuts to the user's favorite websites, documents, etc."
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/FAVORITES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "FAVORITES"
  $FONTS:
    body: "$FONTS$1"
    description: "The system's fonts directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/FONTS.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "FONTS"
  $HISTORY:
    body: "$HISTORY$1"
    description: "Internet Explorer's history directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/HISTORY.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "HISTORY"
  $HWNDPARENT:
    body: "$HWNDPARENT$1"
    description: "HWND of the main window (in decimal)"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/HWNDPARENT.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "HWNDPARENT"
  $INSTDIR:
    body: "$INSTDIR$1"
    description: "The installation directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/INSTDIR.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "INSTDIR"
  $INTERNET_CACHE:
    body: "$INTERNET_CACHE$1"
    description: "Internet Explorer's temporary internet files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/INTERNET_CACHE.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "INTERNET_CACHE"
  $LANGUAGE:
    body: "$LANGUAGE$1"
    description: "The identifier of the language that is currently used"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/LANGUAGE.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "LANGUAGE"
  $LOCALAPPDATA:
    body: "$LOCALAPPDATA$1"
    description: "The local (non-roaming) application data directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/LOCALAPPDATA.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "LOCALAPPDATA"
  $MUSIC:
    body: "$MUSIC$1"
    description: "The user's music files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/MUSIC.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "MUSIC"
  $NETHOOD:
    body: "$NETHOOD$1"
    description: "The directory that contains link objects that may exist in the My Network Places/Network Neighborhood folder"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/NETHOOD.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "NETHOOD"
  $OUTDIR:
    body: "$OUTDIR$1"
    description: "The current output directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/OUTDIR.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "OUTDIR"
  $PICTURES:
    body: "$PICTURES$1"
    description: "The user's picture files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PICTURES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PICTURES"
  $PLUGINSDIR:
    body: "$PLUGINSDIR$1"
    description: "The path to a temporary folder created upon the first usage of a plug-in or a call to InitPluginsDir"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PLUGINSDIR.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PLUGINSDIR"
  $PRINTHOOD:
    body: "$PRINTHOOD$1"
    description: "The directory that contains link objects that may exist in the Printers folder"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PRINTHOOD.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PRINTHOOD"
  $PROFILE:
    body: "$PROFILE$1"
    description: "The user's profile directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PROFILE.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PROFILE"
  $PROGRAMFILES:
    body: "$PROGRAMFILES$1"
    description: "The program files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PROGRAMFILES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PROGRAMFILES"
  $PROGRAMFILES32:
    body: "$PROGRAMFILES32$1"
    description: "The program files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PROGRAMFILES32.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PROGRAMFILES32"
  $PROGRAMFILES64:
    body: "$PROGRAMFILES64$1"
    description: "The program files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/PROGRAMFILES64.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "PROGRAMFILES64"
  $QUICKLAUNCH:
    body: "$QUICKLAUNCH$1"
    description: "The quick launch folder for IE4 active desktop and above"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/QUICKLAUNCH.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "QUICKLAUNCH"
  $RECENT:
    body: "$RECENT$1"
    description: "The directory that contains shortcuts to the user's recently used documents"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/RECENT.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "RECENT"
  $RESOURCES:
    body: "$RESOURCES$1"
    description: "The resources directory that stores themes and other Windows resources (usually $WINDIR\\Resources but detected at runtime)"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/RESOURCES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "RESOURCES"
  $RESOURCES_LOCALIZED:
    body: "$RESOURCES_LOCALIZED$1"
    description: "The localized resources directory that stores themes and other Windows resources (usually $WINDIR\\Resources\\1033 but detected at runtime)"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/RESOURCES_LOCALIZED.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "RESOURCES_LOCALIZED"
  $SENDTO:
    body: "$SENDTO$1"
    description: "The directory that contains Send To menu shortcut items"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/SENDTO.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "SENDTO"
  $SMPROGRAMS:
    body: "$SMPROGRAMS$1"
    description: "The start menu programs folder"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/SMPROGRAMS.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "SMPROGRAMS"
  $SMSTARTUP:
    body: "$SMSTARTUP$1"
    description: "The start menu programs / startup folder"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/SMSTARTUP.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "SMSTARTUP"
  $STARTMENU:
    body: "$STARTMENU$1"
    description: "The start menu folder"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/STARTMENU.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "STARTMENU"
  $SYSDIR:
    body: "$SYSDIR$1"
    description: "The Windows system directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/SYSDIR.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "SYSDIR"
  $TEMP:
    body: "$TEMP$1"
    description: "The temporary directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/TEMP.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "TEMP"
  $TEMPLATES:
    body: "$TEMPLATES$1"
    description: "The document templates directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/TEMPLATES.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "TEMPLATES"
  $VIDEOS:
    body: "$VIDEOS$1"
    description: "The user's video files directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/VIDEOS.md"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "VIDEOS"
  $WINDIR:
    body: "$WINDIR"
    leftLabelHTML: "<span class='variable'>$</span>"
    prefix: "WINDIR"
    description: "The Windows directory"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Variables/WINDIR.md"
