'.source.nsis':
  'Abort':
    'prefix': 'Abort'
    'body': '\${Abort}'
  'AndIf':
    'prefix': 'AndIf'
    'body': '\${AndIf} ${1:condition}'
  'AndIfNot':
    'prefix': 'AndIfNot'
    'body': '\${AndIfNot} ${1:condition}'
  'Case':
    'prefix': 'Case'
    'body': '\${Case} ${1)'
  'Cmd':
    'prefix': 'Cmd'
    'body': '\${Cmd} `${1}`'
  'Do…Loop':
    'prefix': 'Do…Loop'
    'body': """
      \${Do}
      	${1:# your code here}
      \${Loop}
    """
  'Do…LoopUntil':
    'prefix': 'Do…LoopUntil'
    'body': """
      \${Do}
      	${2:# your code here}
      \${LoopUntil} ${1:statement}
    """
  'DoUntil…Loop':
    'prefix': 'DoUntil…Loop'
    'body': """
      \${Do} ${1:statement}
      	${2:# your code here}
      \${Loop}
    """
  'DoUntil…LoopUntil':
    'prefix': 'DoUntil…LoopUntil'
    'body': """
      \${DoUntil} ${1:statement}
      	${3:# your code here}
      \${LoopUntil} ${2:statement}
    """
  'Else':
    'prefix': 'Else'
    'body': '\${Else}'
  'ElseIf':
    'prefix': 'ElseIf'
    'body': '\${ElseIf} ${1:condition}'
  'ElseIfNot':
    'prefix': 'ElseIfNot'
    'body': '\${ElseIfNot} ${1:condition}'
  'ElseUnless':
    'prefix': 'ElseUnless'
    'body': '\${ElseUnless} ${1:condition}'
  'EndWhile':
    'prefix': 'EndWhile'
    'body': '\${EndWhile}'
  'Errors':
    'prefix': 'Errors'
    'body': '\${Errors}'
  'ExitDo':
    'prefix': 'ExitDo'
    'body': '\${ExitDo}'
  'ExitWhile':
    'prefix': 'ExitWhile'
    'body': '\${ExitWhile}'
  'FileExists':
    'prefix': 'FileExists'
    'body': '\${FileExists} "${1:file}"'
  'For…Next':
    'prefix': 'For…Next'
    'body': """
      \${For} ${1:statement}
      	${2:# your code here}
      \${Next}
    """
  'ForEach…Next':
    'prefix': 'ForEach…Next'
    'body': """
      \${ForEach} ${1:statement}
      	${2:# your code here}
      \${Next}
    """
  'If…Else':
    'prefix': 'If…Else'
    'body': """
      \${If} ${1:condition}
      	${4:# your code here}
      \${Else}
      	${5:# your code here}
      \${EndIf}
    """
  'If':
    'prefix': 'If'
    'body': """
      \${If} ${1:condition}
      	${4:# your code here}
      \${EndIf}
    """
  'IfCmd':
    'prefix': 'IfCmd'
    'body': '\${IfCmd} ${1:command} \${|} ${4:command} \${|}'
  'IfNot…Else':
    'prefix': 'IfNot…Else'
    'body': """
      \${IfNot} ${1:condition}
      	${4:# your code here}
      \${Else}
      	${5:# your code here}
      \${EndIf}
    """
  'IfNot':
    'prefix': 'IfNot'
    'body': """
      \${IfNot} ${1:condition}
      	${4:# your code here}
      \${EndIf}
    """
  'IfThen':
    'prefix': 'IfThen'
    'body': '\${IfThen} ${1:condition} \${|} ${4:command} \${|}'
  'IfThenNot':
    'prefix': 'IfThenNot'
    'body': '\${IfThenNot} ${1:condition} \${|} ${4:command} \${|}'
  'Loop':
    'prefix': 'Loop'
    'body': '\${Loop}'
  'Next':
    'prefix': 'Next'
    'body': '\${Next}'
  'OrIfNot':
    'prefix': 'OrIfNot'
    'body': '\${OrIfNot} ${1:condition}'
  'RebootFlag':
    'prefix': 'RebootFlag'
    'body': '\${RebootFlag}'
  'SectionIsBold':
    'prefix': 'SectionIsBold'
    'body': '\${SectionIsBold} \${${1}}'
  'SectionIsExpanded':
    'prefix': 'SectionIsExpanded'
    'body': '\${SectionIsExpanded} \${${1}}'
  'SectionIsPartiallySelected':
    'prefix': 'SectionIsPartiallySelected'
    'body': '\${SectionIsPartiallySelected} \${${1}}'
  'SectionIsReadOnly':
    'prefix': 'SectionIsReadOnly'
    'body': '\${SectionIsReadOnly} \${${1}}'
  'SectionIsSectionGroup':
    'prefix': 'SectionIsSectionGroup'
    'body': '\${SectionIsSectionGroup} \${${1}}'
  'SectionIsSectionGroupEnd':
    'prefix': 'SectionIsSectionGroupEnd'
    'body': '\${SectionIsSectionGroupEnd} \${${1}}'
  'SectionIsSelected':
    'prefix': 'SectionIsSelected'
    'body': '\${SectionIsSelected} \${${1}}'
  'Select':
    'prefix': 'Select'
    'body': """
      \${Select} \$${1:var}
      	${4:# your code here}
      \${EndSelect}
    """
  'Silent':
    'prefix': 'Silent'
    'body': '\${Silent}'
  'Switch':
    'prefix': 'Switch'
    'body': """
      \${Switch} \$${1:var}
      	${4:# your code here}
      \${EndSwitch}
    """
  'Unless':
    'prefix': 'Unless'
    'body': """
      \${Unless} \$${1:var}
      	${4:# your code here}
      \${EndUnless}
    """
  'While':
    'prefix': 'While'
    'body': """
      \${While} ${1:condition}
      	${4:# your code here}
      \${EndWhile}
    """
