'.source.nsis':
  '${MementoSection}':
    'prefix': 'MementoSection'
    'body': """
      \${MementoSection} "${1:section_name}" ${2:section_index}
      	${3:# your code here}
      \${MementoSectionEnd}
    """
  '${MementoSectionEnd}':
    'prefix': 'MementoSectionEnd'
    'body': '\${MementoSectionEnd}'
  '${MementoSectionRestore}':
    'prefix': 'MementoSectionRestore'
    'body': '\${MementoSectionRestore}'
  '${MementoSectionSave}':
    'prefix': 'MementoSectionSave'
    'body': '\${MementoSectionSave}'
  '${MementoUnselectedSection}':
    'prefix': 'MementoUnselectedSection'
    'body': '\${MementoUnselectedSection} ${1:section_name} ${2:section_index}'
