".source.nsis":
  "${ConfigReadS}":
    body: "${ConfigReadS} \"${1:file}\" \"${2:entry}\" $${3:var}$4"
    description: "Usage: ${ConfigReadS} \"[File]\" \"[Entry]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/ConfigReadS.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "ConfigReadS"
  "${ConfigRead}":
    body: "${ConfigRead} \"${1:file}\" \"${2:entry}\" $${3:var}$4"
    description: "Usage: ${ConfigRead} \"[File]\" \"[Entry]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/ConfigRead.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "ConfigRead"
  "${ConfigWriteS}":
    body: "${ConfigWriteS} \"${1:file}\" \"${2:entry}\" \"${3:value}\" $${4:var}$5"
    description: "Usage: ${ConfigWriteS} \"[File]\" \"[Entry]\" \"[Value]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/ConfigWriteS.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "ConfigWriteS"
  "${ConfigWrite}":
    body: "${ConfigWrite} \"${1:file}\" \"${2:entry}\" \"${3:value}\" $${4:var}$5"
    description: "Usage: ${ConfigWrite} \"[File]\" \"[Entry]\" \"[Value]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/ConfigWrite.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "ConfigWrite"
  "${FileJoin}":
    body: "${FileJoin} \"${1:input_file1}\" \"${2:input_file2}\" \"${3:output_file}\"$4"
    description: "Usage: ${FileJoin} \"[File1]\" \"[File2]\" \"[File3]\""
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/FileJoin.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "FileJoin"
  "${FileReadFromEnd}":
    body: "${FileReadFromEnd} \"${1:file}\" \"${2:function}\"$3"
    description: "Usage: ${FileReadFromEnd} \"[File]\" \"Function\""
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/FileReadFromEnd.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "FileReadFromEnd"
  "${FileRecode}":
    body: "${FileRecode} \"${1:file}\" \"${2:OemToChar|CharToOem}\"$3"
    description: "Usage: ${FileRecode} \"[File]\" \"[Format]\""
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/FileRecode.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "FileRecode"
  "${LineFind}":
    body: "${LineFind} \"${1:file1}\" \"${2:file2|/NUL}\" \"${3:line_numbers}\" \"${4:function}\"$5"
    description: "Usage: ${LineFind} \"[File1]\" \"[File2|/NUL]\" \"[LineNumbers]\" \"Function\""
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/LineFind.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "LineFind"
  "${LineRead}":
    body: "${LineRead} \"${1:file}\" \"${2:line_number}\" $${3:var}$4"
    description: "Usage: ${LineRead} \"[File]\" \"[LineNumber]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/LineRead.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "LineRead"
  "${LineSum}":
    body: "${LineSum} \"${1:file}\" $${2:var}$3"
    description: "Usage: ${LineSum} \"[File]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/LineSum.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "LineSum"
  "${TextCompareS}":
    body: "${TextCompareS} \"${1:file1}\" \"${2:file2}\" \"${3:option}\" \"${4:function}\"$5"
    description: "Usage: ${TextCompareS} \"[File1]\" \"[File2]\" \"[Option]\" \"Function\""
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/TextCompareS.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "TextCompareS"
  "${TextCompare}":
    body: "${TextCompare} \"${1:file1}\" \"${2:file2}\" \"${3:option}\" \"${4:function}\"$5"
    description: "Usage: ${TextCompare} \"[File1]\" \"[File2]\" \"[Option]\" \"Function\""
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/TextCompare.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "TextCompare"
  "${TrimNewLines}":
    body: "${TrimNewLines} \"${1:string}\" $${2:var}$3"
    description: "Usage: ${TrimNewLines} \"[string]\" $var"
    descriptionMoreURL: "https://github.com/NSIS-Dev/Documentation/blob/master/Includes/TextFunc/TrimNewLines.md"
    leftLabelHTML: "<span class='syntax--support function'>TextFunc.nsh</span>"
    prefix: "TrimNewLines"
