".source.nsis":
  "${DisableX64FSRedirection}":
    body: "${DisableX64FSRedirection}$0"
    description: "Usage: ${DisableX64FSRedirection}"
    leftLabelHTML: "<span class='syntax--support function'>x64.nsh</span>"
    prefix: "DisableX64FSRedirection"
  "${EnableX64FSRedirection}":
    body: "${EnableX64FSRedirection}$0"
    description: "Usage: ${EnableX64FSRedirection}"
    leftLabelHTML: "<span class='syntax--support function'>x64.nsh</span>"
    prefix: "EnableX64FSRedirection"
  "${IsWow64}":
    body: "${IsWow64}$0"
    description: "Usage: logic_lib_statement ${IsWow64}"
    leftLabelHTML: "<span class='syntax--support function'>x64.nsh</span>"
    prefix: "IsWow64"
  "${RunningX64}":
    body: "${RunningX64}$0"
    description: "Usage: logic_lib_statement ${RunningX64}"
    leftLabelHTML: "<span class='syntax--support function'>x64.nsh</span>"
    prefix: "RunningX64"
