'.source.nsis':
  'DisableX64FSRedirection':
    'prefix': 'DisableX64FSRedirection'
    'body': '\${DisableX64FSRedirection}'
  'EnableX64FSRedirection':
    'prefix': 'EnableX64FSRedirection'
    'body': '\${EnableX64FSRedirection}'
  'IsWow64':
    'prefix': 'IsWow64'
    'body': '\${IsWow64}'
  'RunningX64':
    'prefix': 'RunningX64'
    'body': '\${RunningX64}'
