'.source.nsis':
  'StartMenu::Init':
    'prefix': 'StartMenu::Init'
    'body': 'StartMenu::Init "${1:text}"$2'
  'StartMenu::Select':
    'prefix': 'StartMenu::Select'
    'body': 'StartMenu::Select $1$2'
