'.source.nsis':
  'System::Alloc':
    'prefix': 'System::Alloc'
    'body': 'System::Alloc ${1:size}'
  'System::Call':
    'prefix': 'System::Call'
    'body': 'System::Call "${1:parameters}"'
  'System::Copy':
    'prefix': 'System::Copy'
    'body': 'System::Copy ${1:destination} ${2:source}'
  'System::Free':
    'prefix': 'System::Free'
    'body': 'System::Free \$${1:address}'
  'System::Get':
    'prefix': 'System::Get'
    'body': 'System::Get "${1:parameters}"'
