'.source.nsis':
  'scaffold':
    'prefix': 'scaffold'
    'body': """
      ; Scaffolding by https://github.com/idleberg/language-nsis

      ; Settings ---------------------------------
      Name "${1:installer_name}"
      OutFile "${2:${1:installer_name}}.exe"
      RequestExecutionLevel ${3:user}
      InstallDir "\$PROGRAMFILES\\\\${4:${1:installer_name}}"

      ; Includes ---------------------------------
      ${5}

      ; Pages ------------------------------------
      Page components
      Page directory
      Page instfiles

      ; Sections ---------------------------------
      Section "${6:section_name}" ${7:${6:section_name}_index}

        ${8:# your code here}

      SectionEnd

      ; Functions --------------------------------
      ${9}
    """