".source.nsis":
  "Minimal Script":
    body: '''
      ; Scaffolding by https://atom.io/packages/language-nsis

      ; Settings ---------------------------------
      OutFile "${1:installer_name}.exe"

      ; Includes ---------------------------------
      $2

      ; Pages ------------------------------------
      $3

      ; Sections ---------------------------------
      Section "${4:section_name}"

      \t${5:# your code here}

      SectionEnd

      ; Functions --------------------------------
      $6
    '''
    description: "Creates a minimal installer template"
    prefix: "scaffold-Minimal"
