menu: [
  {
    label: "Packages"
    submenu: [
      {
        label: "NSIS"
        submenu: [
          {
            label: "Save && compile script"
            command: "NSIS:save-&-compile"
          }
          {
            label: "Save && compile script (strict)"
            command: "NSIS:save-&-compile-strict"
          }
          {
            type: "separator"
          }
          {
            label: "Set default runner for NSIS"
            command: "NSIS:set-default-runner"
          }
          {
            label: "Remove default runner for NSIS"
            command: "NSIS:remove-default-runner"
          }
          {
            type: "separator"
          }
          {
            label: "Create .atom–build.cson"
            command: "NSIS:create-.atom–build-file"
          }
          {
            label: "Create .atom–build.cson for Wine"
            command: "NSIS:create-.atom–build-file-for-wine"
          }
          {
            type: "separator"
          }
          {
            label: "Open Package Settings"
            command: "NSIS:open-package-settings"
          }
          {
            label: "Setup Package Dependencies"
            command: "NSIS:satisfy-package-dependencies"
          }
        ]
      }
    ]
  }
]
