'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'NSIS'
      'submenu': [
        {
          'label': 'Set default runner for NSIS'
          'command': 'NSIS: Set default runner for NSIS'
        },
        {
          'label': 'Remove default runner for NSIS'
          'command': 'NSIS: Remove default runner for NSIS'
        },
        { 'type': 'separator' },
        {
          'label': 'Create .atom–build.json'
          'command': 'NSIS: Create .atom–build file'
        }
      ]
    ]
  }
]