# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-text-editor, .platform-linux atom-text-editor':
  'cmd-alt-m': 'NSIS:save-&-compile'
  'cmd-alt-p': 'NSIS:create-.atom–build-file'

'.platform-win32 atom-text-editor':
  'shift-alt-m': 'NSIS:save-&-compile'
  'shift-alt-p': 'NSIS:create-.atom–build-file'