name: CI

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/*"
      - "grammars/**"
      - "keymaps/**"
      - "settings/**"
      - "snippets/**"
      - "src/**"
      - "package.json"
      - "package-lock.json"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/*"
      - "grammars/**"
      - "keymaps/**"
      - "settings/**"
      - "snippets/**"
      - "src/**"
      - "package.json"
      - "package-lock.json"
  workflow_dispatch:

jobs:
  default:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ["lts/*", "*"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Packages Dependencies
        run: npm ci

      - name: Lint Source
        run: npm run lint --if-present

      - name: Build Source
        run: npm run build --if-present

      - name: Run Tests
        run: npm run test --if-present
